/** App CSS ends here */

/* .movie-genre {
  border: 1px solid #0000003b;
  color: #000000de;
  margin: 4px;
  padding: 8px;
  border-radius: 15px;
  transition: .5s;
} */

/* .movie-genre:hover {
  cursor: pointer;
  background: #f5f0f0;
}
 */


/** DiscoverMovies CSS ends here **/
/* .rating-value {
  background: rgb(101, 170, 230);
  color: #fff;
  border-radius: 5px;
  padding: 2px;
} */

/* .movie-genres-text,
.movie-release-status {
  margin-top: 10px;
  margin-bottom: 10px;
} */

/* .overview-text, 
.rating-text,
.movie-home-page-text, 
.language-text,
.movie-genres-text,
.movie-runtime-text,
.status-text
 {
  color: #a0d2eb;
  font-weight: bold;
} */

/* .movie-overview {
  line-height: 1.8rem;
} */

/* .top-cast-text {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin: 10px auto;
} */

/* .movie-cast-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px auto;
} */

/* .actors-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

/* .movie-language {
  margin-top: 14px;
} */

/* .movie-overview-rating,
.movie-runtime-cont {
  margin-top: 10px;
} */

/* .movie-release-date {
  margin-top: 4px;
  opacity: .8;
} */


/* .movies-loader {
  width: 75px;
  height: 100%;
} */

a {
  text-decoration: none;
  color: #111;
}

/* .search-results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
} */

/** movie over page css **/
/* .movie-overview-parent-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

/* .movie-overview-container {
  display: flex;
  padding: 80px;
  background-color: #fff;
  color: #111;
  box-shadow: -2px 4px 30px -1px #000000bf;
} */

/* .movie-overview-poster img {
  border-radius: 5px;
}

.movie-overview-poster img {
  height: 450px;
  width: 300px;
} */

/* .movie-home-page a {
  width: 50%;
} */


/* .movie-info-description {
  margin-left: 20px;
  line-height: 1.7rem;
} */

/* .movie-overview-title {
  font-size: 30px;
  font-weight: bold;
} */

/* .movie-tag-line {
  font-style: italic;
  margin-top: 3px;
} */

/* .movie-overview-user-actions-cont {
  display: flex;
  margin: 20px 0 0 0;
  gap: 12px;
} */

/* .recommendations-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
} */

/* .recommendations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .recommendations-text {
  align-self: center;
  font-size: 24px;
  margin: 20px 0 20px 0;
} */

.MuiFab-primary {
  background-color: #418baf !important;
}

/* .movie-overview {
  margin-top: 10px;
} */

/* .movie-home-page {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
} */

.movie-container a{
  color: #111; 
  text-decoration: underline;
}


/** media queries */
/* @media only screen and (max-width: 700px) {
  .main-app-navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .nav-item {
    display: none;
  }

  .drawer-menu-btn {
    display: inline;
    cursor: pointer;
  } */

  /* .movie-overview-parent-container {

  } */

  /* .movie-overview-container {
    padding: 20px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    color: #fff;
    line-height: 1.6rem;
    margin: auto;
    border-radius: 0px;
  } */

  /* .movie-home-page a {
    color: #fff;
  } */

  /* .movie-overview-poster {
    margin: 20px auto 20px;
  }

  .movie-overview-poster img {
    height: 280px;
    width: 180px;
  } */

  /* .movie-info-description { */
    /* text-align: center; */
    /* line-height: 3rem; */
  /* } */

  /* .movie-overview-user-actions-cont {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    width: 80%;
  } */

  /* .no-results img {
    width: 100%;
    max-width: 100%;
    height: auto;
  } */

  /* .movies-search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
  } */

  /* .input-search-bar {
    width: 100%;
  } */

/* } */

/* .load-more-movies-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} */

/* .load-more-btn {
  background: #a0d2eb;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.load-more-btn:hover {
  cursor: pointer;
} */

/* .selected-genre {
  background: rgb(245, 240, 240);
} */