.login-container {
  padding: 10px;
  margin: 40px auto;
  width: 80%;
}

.login-text {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 20px;
}

.notice-text {
  line-height: 20px;
  margin-bottom: 16px;
}

.create-new-account-link {
  color: #00c6ff;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.label-name {
  font-weight: bold;
  margin-top: 15px;
}

.input-form input {
  margin-top: 10px;
  border-color: rgba(33,37,41,0.15);
  color: #292b2c;
  padding: 12px;
  border-radius: .25rem;
  line-height: 1.5;
  vertical-align: middle;
}

.login-btn-container {
  display: flex;
  justify-content: flex-star;
  margin-top: 18px;
}

.login-btn {
  border-color: #01b4e4;
  background-color: #01b4e4;
  color: #fff;
  padding: .675rem .95rem;
  border-radius: 5px;
  font-weight: bold;
}

.login-btn:hover {
  cursor: pointer;
}

.error-card-container {
  margin: 20px 0 10px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.error-card-header {
  background-color: #d53540;
  color: #fff;
  display: flex;
  padding: 20px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.error-card-header .error-text{
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-left: 5px;
}

.error-type-cont {
  padding: 5px;
}

.error-type-cont ul {
  line-height: 1.4;
}